.ft {
    font-family: open sans;
}

.hdgtitle {
    text-align: center;
    font-size: 40px;
    color: ghostwhite;
}

.tttitle {
    color: ghostwhite;
    font-size: 20px;
    text-align: center;
}

.mntitle {
    color: ghostwhite;
    font-size: 50px;
    text-align: center;
}

body {
    background-color: black;
}

#imgs {
    width: 60%;
    height: auto;
    margin-left: 20%;
}


.float-container {
    background-color: #333333;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    color: white;
    font-size: 16px;
    text-align: justify;
}

.accr {
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}   

.accr-arrow {
    float: right;
    padding-right: 20px;
    line-height: 40px;
}

.img2 {
    width: 300px;
    height: 300px;
}

.try {
  display: flex;
}
.imgg{
    height: auto;
    width: 420px;
    
}
.nav navbar-nav{
position: sticy;
top: 0;
z-index: 99999">
}


html{
scroll-behavior: smooth;
}